<!-- Navbar -->
<nav class="navbar">
  <h1 class="logo" style="font-size: x-large;font-family: 'Dancing Script', cursive; color:#119da4"><img style="height: 35px; width:32px;" 
      src="https://play-lh.googleusercontent.com/YAB7Jver2BrkVpJS_GoPfi-L8J6Asg3we5wSGot94aBjWQJ3M6dMgTkRrn3eJpjv_Rk"> Pixelator
  </h1>
  <ul class="nav-links">
    <li><a ></a>Home</li>
    <li><a routerLink="login" style="color: white;">Login</a></li>
    <li><a href="#"></a>Explore</li>
    <li><a routerLink="admin" style="color: white;">Admin</a></li>
    <li class="ctn"><a href="#"></a>Contact</li>
  </ul>
  <img src="https://postimg.cc/sMwyLb1N" alt="" class="menu-btn">
</nav>

<!-- header -->
<header>
  <div class="header-content">
    <h2>Explore The Colorful World</h2>
    <div class="line"></div>
    <h1>A WONDERFUL GIFT</h1>
    <a href="#" class="ctn">Learn More</a>
  </div>
</header>
<script>
  const menuBtn = document.querySelector('.menu-btn')
  const navlinks = document.querySelector('.nav-links')

  menuBtn.addEventListener('click',()=>{
   navlinks.classList.toggle('mobile-menu')
  })
</script>


<!-- main content -->
<div style="background-color: #212529;"><br><br>

  <div class="fb">

    <div class="gallery-fb w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?cars" alt="cars">
        </div>
        <div class="text">Cars</div>
      </div>
    </div>

    <div class="gallery-fb w-3 h-3">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?nature" alt="nature">
        </div>
        <div class="text">Nature</div>
      </div>
    </div>

    <div class="gallery-fb h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?sport" alt="sport">
        </div>
        <div class="text">Sport</div>
      </div>
    </div>

    <div class="gallery-fb w-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?underwater" alt="underwater">
        </div>
        <div class="text">Under Water</div>
      </div>
    </div>

    <div class="gallery-fb w-4 h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?food" alt="food">
        </div>
        <div class="text">Food</div>
      </div>
    </div>

    <div class="gallery-fb">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?travel" alt="travel">
        </div>
        <div class="text">Travel</div>
      </div>
    </div>

    <div class="gallery-fb h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?art" alt="art">
        </div>
        <div class="text">Art</div>
      </div>
    </div>

    <div class="gallery-fb w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?people" alt="people">
        </div>
        <div class="text">People</div>
      </div>
    </div>

    <div class="gallery-fb w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?night" alt="night">
        </div>
        <div class="text">Night</div>
      </div>
    </div>

    <div class="gallery-fb h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?creative" alt="creative">
        </div>
        <div class="text">Creative</div>
      </div>
    </div>

    <div class="gallery-fb h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?fitness" alt="fitness">
        </div>
        <div class="text">Fitness</div>
      </div>
    </div>

    <div class="gallery-fb h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?technology" alt="technology">
        </div>
        <div class="text">Technology</div>
      </div>
    </div>
    <div class="gallery-fb w-3 h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?airplane" alt="airplane">
        </div>
        <div class="text">Airplane</div>
      </div>
    </div>
    <div class="gallery-fb w-3 h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://source.unsplash.com/1600x900/?landscape" alt="landscape">
        </div>
        <div class="text">Landscape</div>
      </div>
    </div>



  </div><br><br>
</div>
<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4 text-white" style="background-color: #119da4">
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Company name</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black; height: 5px" />
          <p>
            Here you can use rows and columns to organize your footer
            content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black; height: 5px" />
          <p>
            <a href="#!" class="text-dark">MDBootstrap</a>
          </p>
          <p>
            <a href="#!" class="text-dark">MDWordPress</a>
          </p>
          <p>
            <a href="#!" class="text-dark">BrandFlow</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Bootstrap Angular</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color:black; height: 5px" />
          <p>
            <a href="#!" class="text-dark">Your Account</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color:black; height: 5px" />
          <p><i class="fas fa-home mr-3" style="color:#fc036b;"></i> New York, NY 10012, US</p>
          <p><i class="fas fa-envelope mr-3" style="color:#fc036b;"></i> info@example.com</p>
          <p><i class="fas fa-phone mr-3" style="color:#fc036b;"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3" style="color:#fc036b;"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>