<!-- Navbar -->
<nav class="navbar" style="background-color:rgba(0, 0, 0, 0.2);">
    <h1 class="logo" style="font-size: x-large;font-family: 'Dancing Script', cursive; color:#119da4"><img
            style="height: 35px; width:32px;"
            src="https://play-lh.googleusercontent.com/YAB7Jver2BrkVpJS_GoPfi-L8J6Asg3we5wSGot94aBjWQJ3M6dMgTkRrn3eJpjv_Rk">
        Pixelator
    </h1>
    <ul class="nav-links">

        <li><a style="color:#119da4;">License</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#fc036b;" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Explore
            </a>
            <ul class="dropdown-menu">
                <li><a routerLink="/user" class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasExample"><i
                            class="fa-solid fa-user" style="color: #ff0569;"></i> Profile</a></li>
                <li><a routerLink="/viewimage" class="dropdown-item"><i class="fa-regular fa-image"
                            style="color: #ff0569;"></i>View Photos</a></li>
                <li><a class="dropdown-item"><i class="fa-solid fa-blog" style="color: #ff0569;"></i> Pixelator Blog
                    </a></li>
                <li><a class="dropdown-item" routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket"
                            style="color: #ff0569;"></i> Logout
                    </a></li>
            </ul>
        </li>
        <li><a href="#" style="color:#119da4;">About</a></li>
        <li class="ctn"><a href="#"></a>Contact</li>
    </ul>
    <img src="https://postimg.cc/sMwyLb1N" alt="" class="menu-btn">
</nav>
<!-- Main content -->

<!-- search -->
<div class="Search">
    <h2 style="padding-right: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Search for Free Photos</h2>
    <div class="box">
        <input (keyup)="search($event)" type="text" placeholder="Search">
        <a>
            <i class="fas fa-search"></i>
        </a>

    </div>
</div>


<!-- view images -->
<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let addimages of ViewImage | filter:searchKey:'discription':additionalId">
            <div class="card my-3">
                <!-- image -->
                
                <img class="card-img-top" width="290px" height="250px" [src]="addimages.image" alt="">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color:#ff0569">
                        {{addimages.discription}}
                        <a [href]="addimages.image" download="image.jpg">
                            <i class="fa-solid fa-download mx-5"></i>
                        </a>
                    </li>
                </ul>


            </div>
            <!-- <div class="d-flex justify-content-around mb-3 m-2">
        
            <button class="btn btn-danger">Add More</button>
        
            <button class="btn btn-danger">Delete</button>
        </div> -->
        </div>

    </div>
</div>



<!-- <div *ngFor="let addimages of ViewImage">
    <div class="view">
        <img [src]="addimages.image" alt="">
        
    </div>
  </div> -->
<br>


<!-- Footer -->
<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #119da4">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Company name</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: black; height: 5px" />
                    <p>
                        Here you can use rows and columns to organize your footer
                        content. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Products</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: black; height: 5px" />
                    <p>
                        <a href="#!" class="text-dark">MDBootstrap</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">MDWordPress</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">BrandFlow</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Bootstrap Angular</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color:black; height: 5px" />
                    <p>
                        <a href="#!" class="text-dark">Your Account</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!" class="text-dark">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold" style="color:#fc036b;">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color:black; height: 5px" />
                    <p><i class="fas fa-home mr-3" style="color:#fc036b;"></i> New York, NY 10012, US</p>
                    <p><i class="fas fa-envelope mr-3" style="color:#fc036b;"></i> info@example.com</p>
                    <p><i class="fas fa-phone mr-3" style="color:#fc036b;"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3" style="color:#fc036b;"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- End of .container -->