<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="image">
  <div class="box">
    <div class="container">
      <form (ngSubmit)="adminlogin()" [formGroup]="adminloginForm">
        <div class="top-header">
          <header>Login</header>
        </div>

        <div class="input-field">
          <input name="acno" formControlName="id" type="text" class="input" placeholder="ID" required>
          <i class="fa-regular fa-id-badge"></i>
          <div *ngIf="this.adminloginForm.get('id')?.errors&&this.adminloginForm.get('id')?.touched" class="text-danger">
            *Invalid id
          </div>
        </div>
        <div class="input-field">
          <input name="password" formControlName="password" type="password" class="input" placeholder="Password"
            required>
          <i class="fa-solid fa-lock"></i>
          <div *ngIf="this.adminloginForm.get('password')?.errors&&this.adminloginForm.get('passwordu')?.touched"
            class="text-danger">
            *Invalid Password
          </div>
        </div>
        <div class="input-field">
          <h4 class="text-danger">{{adminloginError}}</h4>
          <div *ngIf="adminloginSuccess" class="spinner-border text-light m-3" style="position: absolute;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <input type="submit" class="submit" value="Login">
          
        </div>
        <div class="bottom">
          <div class="right">
            <label class="ms-5">First Time User? <a routerLink="/adminregister" class="m-2">Register Here</a></label>
          </div>

        </div>
      </form>

    </div>

  </div>

</div>
